<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="false" scanPeriod="60 seconds" debug="false">
    <!-- yml配置属性值获取 -->
    <springProperty name="app_name" scope="context" source="spring.application.name"/>
    <springProperty name="mofa_loggingLevel" scope="context" source="mofa.logging-level"/>
    <springProperty name="mofa_loggingRoot" scope="context" source="mofa.logging-path"/>
    <!-- 自定义信息输出格式 -->
    <!--<conversionRule conversionWord="msg" converterClass="so.dian.mofa.commons.logs.appender.LogbackMessageConverter"/>-->

    <!-- 应用 app-default.Interceptor-->
    <appender name="APP-DEFAULT-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${mofa_loggingRoot}/${app_name}/app-default.log</File>
        <!-- 根据时间来制定滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${mofa_loggingRoot}/${app_name}/app-default.log.%d{yyyy-MM-dd}</FileNamePattern>
            <MaxHistory>7</MaxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{5} %msg%n</Pattern>
        </encoder>
    </appender>

    <!-- 应用 mofa-profiler-digest-appender -->
    <appender name="MOFA-PROFILER-DIGEST-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${mofa_loggingRoot}/mofa/mofa-profiler-digest.log</File>
        <!-- 根据时间来制定滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${mofa_loggingRoot}/mofa/mofa-profiler-digest.log.%d{yyyy-MM-dd}</FileNamePattern>
            <MaxHistory>7</MaxHistory>
        </rollingPolicy>

        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{5} %n%msg%n</Pattern>
        </encoder>
    </appender>

    <!-- 应用 mofa-sql-digest-appender -->
    <appender name="MOFA-SQL-DIGEST-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${mofa_loggingRoot}/mofa/mofa-sql-digest.log</File>
        <!-- 根据时间来制定滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${mofa_loggingRoot}/mofa/mofa-sql-digest.log.%d{yyyy-MM-dd}</FileNamePattern>
            <MaxHistory>7</MaxHistory>
        </rollingPolicy>

        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{5} %n%msg%n</Pattern>
        </encoder>
    </appender>

    <!-- 应用 commons-error.Interceptor-->
    <appender name="ERROR-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <File>${mofa_loggingRoot}/${app_name}/common-error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${mofa_loggingRoot}/${app_name}/common-error.log.%d{yyyy-MM-dd}</FileNamePattern>
            <MaxHistory>7</MaxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{5} %msg%n</Pattern>
        </encoder>
    </appender>

    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{5} %msg%n</pattern>
        </encoder>
    </appender>

    <!-- app-default 异步保存 -->
    <appender name="APP-DEFAULT-ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>512</queueSize>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref="APP-DEFAULT-APPENDER"/>
    </appender>

    <!-- mofa-Profiler 异步保存 -->
    <appender name="MOFA-PROFILER-ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>512</queueSize>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref="MOFA-PROFILER-DIGEST-APPENDER"/>
    </appender>

    <!-- mofa-sql 异步保存 -->
    <appender name="MOFA-SQL-ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>512</queueSize>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref="MOFA-SQL-DIGEST-APPENDER"/>
    </appender>

    <!-- mofa-error 异步保存 -->
    <appender name="MOFA-ERROR-ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>512</queueSize>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref="ERROR-APPENDER"/>
    </appender>


    <!-- 默认的日志，即其他logger没有涵盖的日志 -->
    <logger name="so.lean.disruptor" additivity="true">
        <level value="${mofa_loggingLevel}"/>
        <appender-ref ref="APP-DEFAULT-ASYNC"/>
        <appender-ref ref="MOFA-ERROR-ASYNC"/>
    </logger>

    <!-- 性能监控日志-->
    <logger name="MOFA_PROFILER_DIGEST" additivity="false">
        <level value="${mofa_loggingLevel}"/>
        <appender-ref ref="MOFA-PROFILER-ASYNC"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- sql执行监控日志-->
    <logger name="MOFA_SQL_DIGEST" additivity="false">
        <level value="${mofa_loggingLevel}"/>
        <appender-ref ref="MOFA-SQL-ASYNC"/>
    </logger>

    <!-- 应用根日志-->
    <root level="${mofa_loggingLevel}">
        <!-- appender referenced after it is defined -->
        <appender-ref ref="MOFA-ERROR-ASYNC"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>